header {
  background-color: #0D4B72;
  width: 100%; }
  header nav.menu {
    width: 1024px;
    margin: auto; }
    header nav.menu .rightNav {
      width: 30%;
      background-color: #EFD2AB;
      float: left;
      height: 30px; }
    header nav.menu ul {
      width: 70%;
      float: right;
      list-style: none;
      background-color: #0D4B72;
      padding: 0px;
      margin: 0px; }
      header nav.menu ul li {
        float: left;
        padding-right: 10px;
        border-right: 1px solid #F8F8F8; }
        header nav.menu ul li a {
          text-decoration: none;
          color: #F8F8F8;
          line-height: 30px; }
        header nav.menu ul li span {
          padding: 20px; }

section {
  background-color: #F6F3E7;
  width: 100%;
  padding: 10px 0px; }
  section .lowHeader {
    width: 1024px;
    height: 88px;
    margin: auto;
    background-color: #F6F3E7; }
    section .lowHeader .slogan {
      width: 59%;
      margin-top: 5px;
      float: left; }
      section .lowHeader .slogan .logo {
        width: 90px;
        float: left; }
      section .lowHeader .slogan .text {
        width: 510px;
        float: right;
        padding-left: 8px; }
        section .lowHeader .slogan .text h3 {
          color: #0D4B72;
          margin-top: 0px; }
        section .lowHeader .slogan .text p {
          color: #0D4B72;
          font-size: 12px;
          margin-top: 25px; }
    section .lowHeader .search {
      float: right;
      color: #0D4B72; }

section.lowPlace {
  width: 1024px;
  margin: auto;
  background-color: #F6F3E7;
  padding-top: 40px;
  height: 290px; }
  section.lowPlace .seconLowPlace {
    width: 100%; }
    section.lowPlace .seconLowPlace .video {
      width: 50%;
      height: 250px;
      border-radius: 25px;
      float: left;
      margin-right: 2%; }
    section.lowPlace .seconLowPlace .middle, section.lowPlace .seconLowPlace .right {
      width: 23%;
      height: 150px;
      margin-right: 2%;
      float: left;
      position: relative; }
      section.lowPlace .seconLowPlace .middle .withinMiddle, section.lowPlace .seconLowPlace .right .withinMiddle, section.lowPlace .seconLowPlace .right .withinRight {
        width: 100%;
        height: 100px;
        bottom: -100px;
        position: absolute;
        background-color: #EFD2AB;
        color: #0D4B72; }
        section.lowPlace .seconLowPlace .middle .withinMiddle p.text, section.lowPlace .seconLowPlace .right .withinMiddle p.text, section.lowPlace .seconLowPlace .right .withinRight p.text {
          margin: 0px;
          padding: 5px 10px;
          border-bottom: 1px solid #F8F8F8; }
        section.lowPlace .seconLowPlace .middle .withinMiddle .btnHighPlace, section.lowPlace .seconLowPlace .right .withinMiddle .btnHighPlace, section.lowPlace .seconLowPlace .right .withinRight .btnHighPlace {
          width: 120PX;
          height: 30px;
          background-color: #C34F4F;
          position: absolute;
          text-align: center;
          padding-top: 2px;
          border: 1px solid #F8F8F8;
          bottom: 5px;
          right: 1px; }
          section.lowPlace .seconLowPlace .middle .withinMiddle .btnHighPlace:hover, section.lowPlace .seconLowPlace .right .withinMiddle .btnHighPlace:hover, section.lowPlace .seconLowPlace .right .withinRight .btnHighPlace:hover {
            background: radial-gradient(circle, #D16060, #D16060, #C25050); }
          section.lowPlace .seconLowPlace .middle .withinMiddle .btnHighPlace p, section.lowPlace .seconLowPlace .right .withinMiddle .btnHighPlace p, section.lowPlace .seconLowPlace .right .withinRight .btnHighPlace p {
            margin: 0px;
            padding: 5px 10px; }
          section.lowPlace .seconLowPlace .middle .withinMiddle .btnHighPlace a, section.lowPlace .seconLowPlace .right .withinMiddle .btnHighPlace a, section.lowPlace .seconLowPlace .right .withinRight .btnHighPlace a {
            text-decoration: none;
            color: #F8F8F8; }
      section.lowPlace .seconLowPlace .middle img, section.lowPlace .seconLowPlace .right img {
        width: 100%; }
    section.lowPlace .seconLowPlace .right {
      margin-right: 0; }
      section.lowPlace .seconLowPlace .right .withinRight {
        background-color: #9CAF81; }
      section.lowPlace .seconLowPlace .right img {
        width: 100%; }

* {
  box-sizing: border-box; }

.clearFixed {
  overflow: hidden; }

nav.seconMenu {
  width: 100%;
  background-color: #C7CBDB; }
  nav.seconMenu .proName {
    width: 1024px;
    height: 50px;
    margin: auto;
    color: #0D4B72;
    border-bottom-right-radius: 20px; }
    nav.seconMenu .proName .btn {
      width: 5%;
      height: 50px;
      text-align: center;
      font-size: 40px;
      background-color: #C34F4F;
      border-radius: 15px 0px 0px 15px;
      float: left; }
      nav.seconMenu .proName .btn:hover {
        background: radial-gradient(circle, #D16060, #D16060, #C25050); }
      nav.seconMenu .proName .btn a {
        color: #F8F8F8;
        text-decoration: none; }
    nav.seconMenu .proName .contacInfor {
      width: 95%;
      background-color: #C7CBDB;
      padding-top: 10px;
      float: right;
      padding: 14px 60px 0px 60px;
      height: 50px; }
      nav.seconMenu .proName .contacInfor .program {
        width: 65%;
        float: left;
        font-size: 23px; }
        nav.seconMenu .proName .contacInfor .program p {
          margin: 0px; }
    nav.seconMenu .proName .searchInfor {
      width: 20%;
      float: right;
      border-radius: 3px;
      padding-top: 11px input;
        padding-top-width: 150px; }
      nav.seconMenu .proName .searchInfor .btnSearch {
        width: 20px;
        height: 22px;
        background-color: #C34F4F;
        color: #F8F8F8;
        float: right;
        text-align: center; }
        nav.seconMenu .proName .searchInfor .btnSearch:hover {
          background: radial-gradient(circle, #D16060, #D16060, #C25050); }
        nav.seconMenu .proName .searchInfor .btnSearch a {
          text-decoration: none;
          color: #F8F8F8; }

.highPlace {
  width: 1024px;
  height: 295px;
  background-color: #F6F3E7;
  padding-top: 15px;
  margin: auto; }
  .highPlace baner.bannerContainer {
    width: 30%;
    height: 295px;
    background-color: #0D4B72;
    padding: 0px;
    margin: 0px;
    float: left;
    overflow: scroll;
    box-shadow: 0px 0px 5px 5px #666666; }
    .highPlace baner.bannerContainer .banner1, .highPlace baner.bannerContainer .banner2, .highPlace baner.bannerContainer .banner3, .highPlace baner.bannerContainer .banner4, .highPlace baner.bannerContainer .banner5, .highPlace baner.bannerContainer .banner6 {
      font-size: 20px;
      background-color: #0D4B72;
      color: #F8F8F8;
      padding: 16px 15px;
      border-bottom: 1px solid #F8F8F8; }
  .highPlace .seconHigh {
    width: 70%;
    max-width: 700px;
    border-bottom-right-radius: 5px;
    float: right;
    position: relative; }
    .highPlace .seconHigh img {
      border-bottom-right-radius: 16px;
      width: 100%;
      height: 295px; }
    .highPlace .seconHigh .btnHighPlace {
      width: 115PX;
      height: 30px;
      background-color: #C34F4F;
      position: absolute;
      text-align: center;
      padding-top: 7px;
      border: 1px solid #F8F8F8;
      bottom: 25px;
      left: 67px; }
      .highPlace .seconHigh .btnHighPlace:hover {
        background: radial-gradient(circle, #D16060, #D16060, #C25050); }
      .highPlace .seconHigh .btnHighPlace a {
        text-decoration: none;
        color: #F8F8F8; }
