// ************** Article *******************************


article.information {
  width: 100%;
  .last-section {
    width:$sizeWeb;
    height: 380px;
    margin: auto;
    display: flex;
    background-color: $colorFondo;
    padding: 0px $padding-width;

    .lastInformation {
      width: 75%;
      height: 300px;
      border: 3px solid $colorPrimario;
      border-radius: 15px 0px 15px 0px;
      display: flex;
      margin-right: 1%;
      padding: 12px;
      .firtsInformation, .secondnformation, .thirdInformation {
        font-size: 0.8rem;
        width: 24%;
        position: relative;
        text-align: justify;
        color: $colorPrimario;

        .btnHighPlace {
          width: 120PX;
          height: 30px;
          background-color: $colorBotones;
          position: absolute;
          text-align: center;
          padding-top: 2px;
          border: 1px solid $colorTextoBotones;
          top: 230px;
          right: 1px;
          &:hover {
            background:radial-gradient(circle,#D16060,#D16060,#C25050);
          }
          p {
            margin: 0px;
            padding: 5px 10px;
          }
          a {
            text-decoration: none;
            color:$colorTextoBotones;
          }
        }
        span.title {
          font-size: 1.4rem;
          color: $colorPrimario;
        }
        span.bold {
          font-weight: bold;
        }
      }
      .secondnformation {
        @extend .firtsInformation;
        width: 30%;
        margin: 0px 80px 0px 40px;
        padding-left: 40px;
        border-left: 1px dotted $colorPrimario
      }
    }
   // ------------------ Menu en acordion -----------------------
      .listItems {
      width: 24%;
      height: 297px;
      color: $colorPrimario;
      padding: 0px 10px;
      margin-top: 0px;
      overflow-y: hidden;
      li{
        list-style: none;
        .article-accordion {
          width: 100%;
          height: 27px;
          background-color: #EFD2AB;
          margin: 5px 0px;
          padding: 4px 10px;
          list-style: none;
          text-align: left;
          position: relative;
          .plus.open{
            width: 22px;
            height: 100px;
            position: absolute;
            right: 0px;
            top: 0px;
            background-color: green;
          }
            .plus{
              width: 22px;
              height: 100px;
              position: absolute;
              right: 0px;
              top: 0px;
              background-color: $colorBotones;
              &:hover{
                background-color: $colorPrimario;
              }
              }
              p{
                text-align: center;
                margin: 0px;
                color: #ffffff;
                font-weight: bold;
                cursor: pointer;
                padding-top: 4px;
              }
            }
          }
          .submenu{
            display: none;
            li{
              cursor: pointer;
              border-bottom: 1px solid #C7CBDB;
              margin: 0px;
              padding: 5px 0px;
              &:hover{
                color: $colorTextoBotones;
                background-color: $colorBotones;
              }
            }
          }
          }
        .lastLi{
          width: 100%;
          height: 100px;
          background-color: #EFD2AB;
        }
    }
}
/******************** Media Queris ********************/
/*------------------ device 1000 px ------------------*/
/*****************************************************/
@media screen and (max-width:1000px) {
  article.information {
    .last-section {
      width: 100%;
      height: auto;
      flex-wrap: wrap;
      .lastInformation {
        width: 100%;
        .firtsInformation, .secondnformation, .thirdInformation {
          width: 30%;
          font-size: 0.7rem;
          .btnHighPlace {
            top: 230px;
            &:hover {
            }
            p {

            }
            a {
            }
          }
          span.title {

          }
          span.bold {

          }
        }
        .secondnformation {
          margin: 0px 22px 0px 19px;
          padding-left: 11px;
        }
      }
        .listItems {
          width: 50%;
        li{
          .article-accordion {
            text-align: center;
            height: auto;
            .plus.open{
            }
              .plus {
                &:hover{
                }
                }
                p{

                }
              }
            }
            .submenu {
              display: none;
              li{
                &:hover{

                }
              }
            }
            }
          .lastLi {

          }
      }
  }

}
/******************** Media Queris ********************/
/*------------------ device 677 px ------------------*/
/*****************************************************/
@media screen and (max-width:677px) {
  article.information {
    .last-section {
      padding: 0px 5px;
      .lastInformation {
        width: 100%;

        .firtsInformation, .secondnformation, .thirdInformation {
          width: 42%;
          font-size: 0.6rem;
          .btnHighPlace {
            top: 230px;
            &:hover {
            }
            p {

            }
            a {
            }
          }
          span.title {

          }
          span.bold {

          }
        }
        .secondnformation {
          margin: 0px 22px 0px 19px;
          padding-left: 11px;
        }
      }
        .listItems {
        width: 100%;
        padding: 10px 0px;
        li{
          .article-accordion {
            .plus.open{
            }
              .plus {
                &:hover{
                }
                }
                p{

                }
              }
            }
            .submenu {
              display: none;
              li{
                &:hover{

                }
              }
            }
            }
          .lastLi {

          }
      }
  }
}
/******************** Media Queris ********************/
/*------------------ device 480 px ------------------*/
/*****************************************************/
@media screen and (max-width:480px) {
  article.information {
    .last-section {
      padding: 0px 5px;
      .lastInformation {
        width: 100%;
        display: none;
        .firtsInformation, .secondnformation, .thirdInformation {
          width: 42%;
          font-size: 0.6rem;
          .btnHighPlace {
            top: 230px;
            &:hover {
            }
            p {

            }
            a {
            }
          }
          span.title {

          }
          span.bold {

          }
        }
        .secondnformation {
          margin: 0px 22px 0px 19px;
          padding-left: 11px;
        }
      }
        .listItems {
        width: 100%;
        padding: 10px 0px;
        li{
          .article-accordion {
            .plus.open{
            }
              .plus {
                &:hover{
                }
                }
                p{

                }
              }
            }
            .submenu {
              display: none;
              li{
                &:hover{

                }
              }
            }
            }
          .lastLi {

          }
      }
  }
}
/******************** Media Queris ********************/
/*------------------ device 360 px ------------------*/
/*****************************************************/
@media screen and (max-width:360px) {
  article.information {
    .last-section {
      padding: 0px 5px;
      .lastInformation {
        width: 100%;
        display: none;
        .firtsInformation, .secondnformation, .thirdInformation {
          width: 42%;
          font-size: 0.6rem;
          .btnHighPlace {
            top: 230px;
            &:hover {
            }
            p {

            }
            a {
            }
          }
          span.title {

          }
          span.bold {

          }
        }
        .secondnformation {
          margin: 0px 22px 0px 19px;
          padding-left: 11px;
        }
      }
        .listItems {
        width: 100%;
        padding: 10px 0px;
        li{
          .article-accordion {
            .plus.open{
            }
              .plus {
                &:hover{
                }
                }
                p{

                }
              }
            }
            .submenu {
              display: none;
              li{
                &:hover{

                }
              }
            }
            }
          .lastLi {

          }
      }
  }
}
