//************* Footer ***********
footer.total-footer {
  width: 100%;
  margin: auto;
  height: 90px;
  border: 5px solid #0D4B72;
  background-color: $colorPrimario;

  .page-Principal{
    width: $sizeWeb;
    height: 90px;
    margin: auto;
    padding: 0px $padding-width;

    .logo-footer {
      width: 30%;
      float: left;
      background-color: #ffffff;
      padding: 10px 13px;
      img {
        max-width: 60%;
      }
    }
    .contact-footer {
      width: 43%;
      float: left;
      padding: 8px 13px;
      color: $colorTextoBotones;
      p {
        margin: 0px;
        padding: 0px;
        font-size: 0.81rem;
      }
    }
    .social-media {
      width: 27%;
      height: 100%;
      float: left;
      ul {
        padding: 0;
        margin: 0;
        float: right;
        li {
          width: 24%;
          padding: 14px 15px 10px 2px;
          list-style: none;
          float: left;
          img {
            max-width: 100%;
          }
        }
      }
    }
  }
}
/******************** Media Queris ********************/
/*------------------ device 1000 px ------------------*/
/*****************************************************/
@media screen and (max-width:1000px) {
  footer.total-footer {
    width: 100%;
    .page-Principal{
      width: 100%;
      .logo-footer {
        img {
        }
      }
      .contact-footer {
        p {
        }
      }
      .social-media {
        ul {
          li {

            img {
            }
          }
        }
      }
    }
  }
}

/******************** Media Queris ********************/
/*------------------ device 360 px ------------------*/
/*****************************************************/
@media screen and (max-width:360px) {
  footer.total-footer {
    width: 100%;
    .page-Principal{
      width: 100%;
      padding: 0px 5px;
      .logo-footer {
        display: none;
        img {
        }
      }
      .contact-footer {
        width: 100%;
        p {
          font-size: 0.7rem;
        }
      }
      .social-media {
        ul {
          li {

            img {
            }
          }
        }
      }
    }
  }


}
