//*************** Menu principal ******************
.clearFixed {
  overflow: hidden;
}
header.main-menu {
  background-color:$colorPrimario;
  width: 100%;
  nav.menu {
    width: $sizeWeb;
    margin: auto;
    padding: 0px $padding-width;
    display: flex;
    flex-direction: row-reverse;
    .rightNav {
      width: 25%;
      height: 33px;
      background-color: #EFD2AB;
      margin-right: 5px;

    }
      ul.wrap-li {
        width: 75%;
        display: flex;
        justify-content: space-between;
        list-style: none;
        background-color:$colorPrimario;
        padding: 0px;
        margin: 0px;

          li {
            width: auto;
            padding-right: 1.1em;
            border-right: 1px solid $colorTextoBotones;
              a {
                text-decoration: none;
                color:$colorTextoBotones;
                line-height: 30px;
                &:hover{
                  color: #C7CBDB;
                }
              }
              span {
                padding-right: 0.5em;
              }
           }
           .last-li{
             border-right: none;
             padding: 0px;
             margin: 0px;
             a {
               img{
                 width: 27px;
                 vertical-align: sub;
               }
             }
           }
        }
    }
}
/******************** Media Queris ********************/
/*------------------ device 1000 px ------------------*/
/*****************************************************/

@media screen and (max-width:1000px) {
    header.main-menu {
      nav.menu {
        width: 100%;
        .rightNav {
        display: none;
        }
          ul.wrap-li {
            width: 100%;
            background-color:$colorPrimario;
            padding: 0px;
            margin: 0px;

              li {
                padding-right: 10px;
                border-right: 1px solid $colorTextoBotones;
                  a {
                    text-decoration: none;
                    color:$colorTextoBotones;
                    line-height: 30px;
                    &:hover{
                      color: #C7CBDB;
                    }
                  }
                  span {
                    padding-right: 0.5em;
                  }
               }
            }
        }
    }
  }
  /******************** Media Queris ********************/
  /*------------------ device 600 px ------------------*/
  /*****************************************************/
  @media screen and (max-width: 623px) {
    header.main-menu {
      nav.menu {
        width: 100%;
        .rightNav {
        display: none;
        }
          ul.wrap-li {
            flex-direction: column;
            text-align: center;

              li {
                padding-right: none;
                border-right: none;
                border-bottom: 1px solid $colorTextoBotones;
                  a {
                    text-decoration: none;
                    color:$colorTextoBotones;
                    line-height: 30px;
                    &:hover{
                      color: #C7CBDB;
                    }
                  }
                  span {
                    padding-right: 0.5em;
                  }
               }
               .last-li{
                 border-bottom: none;
                 a {
                   img{ }
                 }
               }
            }
        }
    }
  }
