//****** header logo y lema ******
header.slogan {
  background-color: $colorFondo;
  width: 100%;
  padding: 10px 0px;
  overflow: hidden;
  .lowHeader{
    width:$sizeWeb;
    height: 88px;
    margin: auto;
    background-color: $colorFondo;
    padding: 0px $padding-width;
    .slogan {
      width: 59%;
      margin-top: 5px;
      float: left;
      .logo {
        width: 90px;
        float: left;
      }
      .text {
        width: 480px;;
        float:right;
        padding-left: 8px;
        h3 {
          color: $colorPrimario;
          margin-top: 0px;
         }
        p {
          color: $colorPrimario;
          font-size: 12px;
          margin-top: 25px;
         }
      }
    }
    .search {
      float: right;
      color: $colorPrimario;
      .text-reload{
        width: 120px;
        padding: 6px 14px 0 0;
        p{
          margin: 0px;
          padding: 0px 5px;
          float: left;
        }
        span.reload {
          cursor: pointer;
          img {
          max-width: 20px
          }
        }
      }
      .search-icon{
        cursor: pointer;
        .icon-search{
          img{
            max-width: 20px;
            vertical-align: middle;
          }
        }
      }
    }
  }
}
