//****** Graficas y video ********
section.graph {
  .seconLowPlace{
    width: $sizeWeb;
    background-color: $colorFondo;
    margin: auto;
    padding:40px $padding-width;
    display: flex;
    .video {
      width: 50%;
      height: 250px;
      border-radius: 25px;
      margin-right: 2%;
      }
      .middle {    /// padre
      width: 23%;
      height: 250px;
      margin-right: 2%;
      display: flex;
      flex-direction: column;

        .imgMiddle {    ///container 1
          width: 100%;
          height: 100px;
          background-color: #EFD2AB;
          img {
            width: 100%;
            max-height: 100px;
          }
        }
        .withinMiddle{  ///container 2
          width: 100%;
          height: 100px;
          color:$colorPrimario;
          background-color: #EFD2AB;
          p.text {
            margin: 0px;
            padding: 5px 10px;

          }
        }
        .cbBtnHighPlace {              ///container 3
          width: 100%;
          height: 50px;
          padding-top: 3px;
          border-top: 1px solid $colorTextoBotones;
          border-bottom-right-radius: 10px;
          background-color: #EFD2AB;
          .btnHighPlace {
            width: 120PX;
            height: 30px;
            background-color: $colorBotones;
            text-align: center;
            float: right;
            padding-top: 2px;
            border: 1px solid $colorTextoBotones;
            &:hover {
              background:radial-gradient(circle,#D16060,#D16060,#C25050);
            }
            p {
              margin: 0px;
              padding: 5px 10px;
            }
            a {
              text-decoration: none;
              color:$colorTextoBotones;
            }
          }
        }

      }
      .right {   //container padre
        @extend .middle;
        margin-right: 0;
        background-color: $colorFondo;

        .imgRight {        //container hijo1
          height: 100px;
          img {
            width: 100%;
            max-height: 100px;
           }
         }

        .withinRight {   //container hijo2
          @extend .withinMiddle;
          background-color: #9CAF81;

            p.text {
              @extend p.text;
             }
          }

        .cbBtnHighPlace { //container hijo3
          @extend cbBtnHighPlace;
          background-color: #9CAF81;
          .btnHighPlace {
            @extend btnHighPlace;
            &:hover {
            background:radial-gradient(circle,#D16060,#D16060,#C25050);
            }
            p {
              margin: 0px;
              padding: 5px 10px;
            }
            a {
              text-decoration: none;
              color:$colorTextoBotones;
            }
          }
        }
      }//close right
    }
}
/******************** Media Queris ********************/
/*------------------ device 1000 px ------------------*/
/*****************************************************/
@media screen and (max-width:1000px) {
  section.graph {
  .seconLowPlace {
    width: 100%;
    .video {
      }
      .middle {    /// padre
        .imgMiddle {    ///container 1
          img { height: 100px;}
        }
        .withinMiddle {  ///container 2
          p.text { }
        }
        .cbBtnHighPlace {   ///container 3
          .btnHighPlace {
            p {   }
          }
        }
      }
      .right {             //container padre
        .imgRight {        //container hijo1
          img { height: 100px;}
         }

        .withinRight {    //container hijo2
            p.text { }
          }
        .cbBtnHighPlace { //container hijo3
          .btnHighPlace {
            p { }
          }
        }
      }//close right
    }
  }
}
/******************** Media Queris ********************/
/*------------------ device 600 px ------------------*/
/*****************************************************/

@media screen and (max-width:600px) {
  section.graph {
  .seconLowPlace {
    width: 100%;
    flex-wrap: wrap;
    .video { width: 100%; margin-bottom: 10px;}
      .middle {   /// padre
        width: 48%;
        .imgMiddle {    ///container 1
          img { height: 100px;}
        }
        .withinMiddle {  ///container 2
          p.text { }
        }
        .cbBtnHighPlace {   ///container 3
          .btnHighPlace {
            p {   }
          }
        }
      }
      .right {
        width: 48%;            //container padre
        .imgRight {        //container hijo1
          img { height: 100px;}
         }

        .withinRight {    //container hijo2
            p.text { }
          }
        .cbBtnHighPlace { //container hijo3
          .btnHighPlace {
            p { }
          }
        }
      }//close right
    }
  }
}
/******************** Media Queris ********************/
/*------------------ device 360 px ------------------*/
/*****************************************************/

@media screen and (max-width:360px) {
  section.graph {
  .seconLowPlace {
    padding: 7px 2px;
    flex-wrap: nowrap;
    .video { width: 100%; margin-bottom: 3px;}
      .middle {   /// padre
        display: none;
        .imgMiddle {    ///container 1
          img { height: 100px;}
        }
        .withinMiddle {  ///container 2
          p.text { }
        }
        .cbBtnHighPlace {   ///container 3
          .btnHighPlace {
            p {   }
          }
        }
      }
      .right {
        display: none;          //container padre
        .imgRight {        //container hijo1
          img { height: 100px;}
         }

        .withinRight {    //container hijo2
            p.text { }
          }
        .cbBtnHighPlace { //container hijo3
          .btnHighPlace {
            p { }
          }
        }
      }//close right
    }
  }
}
