/*------------------------------------*\
    $GRAFICAS Y CAJAS CON GRAFIACAS
\*------------------------------------*/
.graph {
    .seconLowPlace {
      width: $sizeWeb;
      background-color: $colorFondo;
      margin: auto;
      padding:40px $padding-width;
      display: flex;
        .video {
          width: 50%;
          height: 250px;
          border-radius: 25px;
          margin-right: 2%;
        }
        /*-----------------------------------------*\
           $PRIMERA CAJA DE GRAFICOS ROSA ESTILOS
        \*-----------------------------------------*/
        .box__textMiddle--style {
            background-color:#EFD2AB;
        }
        .box__containerBtn--color {
            background-color: #EFD2AB;
        }
        /*-----------------------------------------*\
           $SEGUNDA CAJA DE GRAFICOS VERDE ESTILOS
        \*-----------------------------------------*/
        .box.withoutMargin {
          margin-right: 0px;
        }
        .box__textMiddle--styleGreen {
          background-color:#9CAF81;
          color: #ffffff;
        }
        .box__containerBtn--colorGreen {
            background-color: #9CAF81;
        }
    }
}

/******************** Media Queris ********************/
/*------------------ device 600 px ------------------*/
/*****************************************************/

@media screen and (max-width:600px) {
  .graph {
      .seconLowPlace {
        width: 100%;
        background-color: $colorFondo;
        margin: auto;
        padding:40px $padding-width;
        display: flex;
        flex-wrap: wrap;
          .video {
            width: 100%;
            height: 250px;
            border-radius: 25px;
            margin-right: 2%;
            margin-bottom: 10px;
          }
          /*-----------------------------------------*\
             $PRIMERA CAJA DE GRAFICOS ROSA ESTILOS
          \*-----------------------------------------*/
          .box {
             width: 48%;

          }
          .box__textMiddle--style {
              background-color:#EFD2AB;
          }
          .box__containerBtn--color {
              background-color: #EFD2AB;
          }
          /*-----------------------------------------*\
             $SEGUNDA CAJA DE GRAFICOS VERDE ESTILOS
          \*-----------------------------------------*/
          .box.withoutMargin {
            margin-right: 0px;
          }
          .box__textMiddle--styleGreen {
            background-color:#9CAF81;
            color: #ffffff;
          }
          .box__containerBtn--colorGreen {
              background-color: #9CAF81;
          }
      }
  }
}
/******************** Media Queris ********************/
/*------------------ device 360 px ------------------*/
/*****************************************************/

@media screen and (max-width:360px) {
  .graph {
      .seconLowPlace {
        width: 100%;
        background-color: $colorFondo;
        margin: auto;
        padding:40px $padding-width;
        display: flex;
          .video {
            width: 100%;
            height: 250px;
            border-radius: 25px;
            margin-right: 2%;
          }
          /*-----------------------------------------*\
             $PRIMERA CAJA DE GRAFICOS ROSA ESTILOS
          \*-----------------------------------------*/
          .box{
            display: none;
          }
          .box__textMiddle--style {
              background-color:#EFD2AB;
          }
          .box__containerBtn--color {
              background-color: #EFD2AB;
          }
          /*-----------------------------------------*\
             $SEGUNDA CAJA DE GRAFICOS VERDE ESTILOS
          \*-----------------------------------------*/
          .box.withoutMargin {
            margin-right: 0px;
          }
          .box__textMiddle--styleGreen {
            background-color:#9CAF81;
            color: #ffffff;
          }
          .box__containerBtn--colorGreen {
              background-color: #9CAF81;
          }
      }
  }
}
