//******** Segundo Menu***********
nav.seconMenu {
  width: 100%;
  background-color: $colorMenuContac;
  .proName {
  width: $sizeWeb;
  height:50px;
  margin: auto;
  color:$colorPrimario;
  border-bottom-right-radius: 20px;
  .btn {
    width: 5%;
    height: 50px;
    text-align:center;
    font-size: 40px;
    background-color: $colorBotones;
    border-radius: 15px 0px 0px 15px;
    float: left;
    &:hover {
    background:radial-gradient(circle,#D16060,#D16060,#C25050);
    }
    a {
      color: $colorTextoBotones;
      text-decoration: none;
    }
  }
  .contacInfor {
    width: 95%;
    background-color: $colorMenuContac;
    padding-top: 10px;
    float: right;
    padding: 14px 60px 0px 60px;
    height: 50px;
    .program {
      width: 65%;
      float: left;
      font-size: 23px;
      p {
        margin: 0px;
        }
      }
     }
     .searchInfor {
      width: 20%;
      float: right;
      border-radius: 3px;
      padding-top: 11px
      input {
          width: 150px;
       }
       .btnSearch {
         width: 20px;
         height:22px;
         background-color:$colorBotones;
         color:$colorTextoBotones;
         float:right;
         text-align: center;
         padding-top: 2px;
         &:hover{
          background:radial-gradient(circle,#D16060,#D16060,#C25050);
         }
         a {
           text-decoration: none;
           color: $colorTextoBotones;
         }
       }
     }
    }
}
// NOTE: parte alta
.highPlace {
  width: $sizeWeb;
  height: 295px;
  background-color: $colorFondo;
  padding-top: 15px;
  margin: auto;
  baner.bannerContainer {
    width: 30%;
    height: 295px;
    background-color: $colorPrimario;
    padding: 0px;
    margin: 0px;
    float: left;
    overflow: scroll;
    box-shadow: 0px 0px 5px 5px #666666;
      .banner1, .banner2, .banner3, .banner4, .banner5, .banner6 {
        font-size: 20px;
        background-color:$colorPrimario;
        color:$colorTextoBotones;
        padding: 16px 15px;
        border-bottom: 1px solid $colorTextoBotones;
    }
  }
  .seconHigh {
    width: 70%;
    max-width: 700px;
    border-bottom-right-radius: 5px;
    float:right;
    position: relative;
    img {
      border-bottom-right-radius: 16px;
      width: 100%;
      height: 295px;
    }
    .btnHighPlace {
      width: 115PX;
      height: 30px;
      background-color: $colorBotones;
      position: absolute;
      text-align: center;
      padding-top: 7px;
      border: 1px solid $colorTextoBotones;
      bottom: 25px;
      left: 67px;
      &:hover {
        background:radial-gradient(circle,#D16060,#D16060,#C25050);
      }
      a {
        text-decoration: none;
        color:$colorTextoBotones;
      }
    }
  }
}
