//****** Graficas y video ********
section.graph {
  .seconLowPlace{
    width: $sizeWeb;
    background-color: $colorFondo;
    margin: auto;
    padding:40px $padding-width;
    display: flex;
    .video {
      width: 50%;
      height: 250px;
      border-radius: 25px;
      margin-right: 2%;
      }
      .father-container {
        .img-top {
          img {
            width: 100%;
            max-height: 100px;
          }
        }
        .text--middle {
          p.text {
            margin: 0px;
            padding: 5px 10px;
          }
        }
        .container-btn {
          .readMore--btn {
            &:hover {
              background:radial-gradient(circle,#D16060,#D16060,#C25050);
            }
            p {
              margin: 0px;
              padding: 5px 10px;
            }
            a {
              text-decoration: none;
              color:$colorTextoBotones;
            }
          }
        }
      }
      .father-rigth-container {   //container padre
        @extend .father-container;
        margin-right: 0;
        background-color: $colorFondo;

        .img-rigthTop {        //container hijo1
          @extend .img-top;
          height: 100px;
          img {
            width: 100%;
            max-height: 100px;
           }
         }
        .text--rigthMiddle {   //container hijo2
          @extend .text--middle;
          background-color: #9CAF81;

            p.text {
              @extend p.text;
             }
          }
        .container-rigthBtn { //container hijo3
          @extend .container-btn;
          background-color: #9CAF81;
          .readMore--rigthBtn {
            @extend .readMore--btn;
            &:hover {
            background:radial-gradient(circle,#D16060,#D16060,#C25050);
            }
            p {
              margin: 0px;
              padding: 5px 10px;
            }
            a {
              text-decoration: none;
              color:$colorTextoBotones;
            }
          }
        }
      }//close right
    }
}
/******************** Media Queris ********************/
/*------------------ device 1000 px ------------------*/
/*****************************************************/
@media screen and (max-width:1000px) {
  section.graph {
  .seconLowPlace {
    width: 100%;
    .video {
      }
      .father-container {    /// padre
        .img-top {    ///container 1
          img { height: 100px;}
        }
        .text--middle {  ///container 2
          p.text { }
        }
        .container-btn {   ///container 3
          .readMore--btn {
            p {   }
          }
        }
      }
      .father-rigth-container {             //container padre
        .img-rigthTop {        //container hijo1
          img { height: 100px;}
         }

        .text--rigthMiddle {    //container hijo2
            p.text { }
          }
        .container-rigthBtn { //container hijo3
          .readMore--rigthBtn {
            p { }
          }
        }
      }//close right
    }
  }
}
/******************** Media Queris ********************/
/*------------------ device 600 px ------------------*/
/*****************************************************/

@media screen and (max-width:600px) {
  section.graph {
  .seconLowPlace {
    width: 100%;
    flex-wrap: wrap;
    .video { width: 100%; margin-bottom: 10px;}
      .father-container {
        width: 48%;
        .img-top {
          img { height: 100px;}
        }
        .text--middle {
          p.text { }
        }
        .container-btn {
          .readMore--btn {
            p {   }
          }
        }
      }
      .father-rigth-container {
        width: 48%;            //container padre
        .img-rigthTop  {        //container hijo1
          img { height: 100px;}
         }

        .text--rigthMiddle {    //container hijo2
            p.text { }
          }
        .container-rigthBtn { //container hijo3
          .readMore--rigthBtn  {
            p { }
          }
        }
      }//close right
    }
  }
}
/******************** Media Queris ********************/
/*------------------ device 360 px ------------------*/
/*****************************************************/

@media screen and (max-width:360px) {
  section.graph {
  .seconLowPlace {
    padding: 7px 2px;
    flex-wrap: nowrap;
    .video { width: 100%; margin-bottom: 3px;}
      .father-container {   /// padre
        display: none;
        .img-top {    ///container 1
          img { height: 100px;}
        }
        .text--middle {  ///container 2
          p.text { }
        }
        .container-btn {   ///container 3
          .readMore--btn {
            p {   }
          }
        }
      }
      .father-rigth-container {
        display: none;          //container padre
        .img-rigthTop  {        //container hijo1
          img { height: 100px;}
         }

        .text--rigthMiddle {    //container hijo2
            p.text { }
          }
        .container-rigthBtn { //container hijo3
          .readMore--rigthBtn {
            p { }
          }
        }
      }//close right
    }
  }
}
