/*nav */
$colorPrimario:#0D4B72;
*{
  box-sizing: border-box;
}
.clearFixed {
  overflow: hidden;
}
.container {
  width: 1000px;
    nav.menu {
      background-color: rgba(212, 128, 128, 0.72);
      width: 100%;
        ul {
          float: right;
          list-style: none;
          background-color:$colorPrimario;
          padding: 0px;
          margin: 0px;
            li {
              float:left;
              padding: 20px;
                a {
                  text-decoration: none;
                  color:#F8F8F8;
                  line-height: 20px;
                  }
                span {
                  padding: 20px;
                }
            }
          }
      }
    section {
      &.slogan {
        width: 800px;
        background-color: blue;
        &.logo {
          width: 200px;
          float: left;
        }
        &.text {
          width: 600px;
          background-color: red;
          float:right;
          h3 { color: $colorPrimario; }
          p { color: $colorPrimario; }
        }
      }
    }
}
